body {
  background-color: #eceff0
}

body,
input {
  font-size: 1em;
  font-family: 'Droid Sans', sans-serif;
  color: #363639;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #363639;
}

.list {
  background-color: white;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

h1.header {
  font-family: cursive;
  margin: 0 0 10px 0;
}

.items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.done-button {
  display: inline-block;
  font-size: 0.8em;
  background-color: #d9dfe1;
  color: #363639;
  padding: 3px 6px;
  border: 0;
  opacity: .4;
  margin-left: 10px;
}

li{
  margin-bottom:5px;
}


li .item,.item-add input[type=text]{
  border:0;
  padding: 15px 0
}

.item-add input[type=text]{
  border-bottom: 1px dashed #ccc;

}

.item-add input[type=text]:focus{
  outline: none;
}

input[type=text]{
  width:100%;
}

.items .item.done{
  text-decoration: line-through;


}

.done-button:hover {
  opacity: 1;
}



input[type=submit],input[type=button]{
  background-color: #FFF;
  padding: 5px 10px;
  border:1px solid #ddd;
  width:100%;
  margin-top:10px;
  box-shadow: 3px 3px 0 #ddd;
}
